# API telegram (Dapatkan dari my.telegram.org)
TG_API_ID=00000000
TG_API_HASH=000000000000000000000000000000
TG_PHONE=+6280000000000(nomor yang digunakan untuk login ke telegram)

# Server Config
PORT=3000(default 3000)
JWT_SECRET=isi_dengan_random_string_bebas(sebagai kode keamanan)

# Email Admin (digunakan untuk login ke dashboard)
ADMIN_EMAIL=adminsampleemail@igocloud.com
ADMIN_PASSWORD=password_bebas

# URL dashboard (Ganti dengan Domain/IP VPS saat production)
APP_URL=http://localhost:3000 # Ganti dengan Domain/IP VPS saat production